services: 
  db_server:
    image: bitnami/postgresql:latest
    container_name: server-pizzaria
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_HOST}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"